<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>join</title>
	</head>
	<body>
		<h1>join my website!</h1>
		<section class="message"><%= message %></section>
		<form action="/join" method="post">
			id: <input type="text" name="id"><br/>
			password: <input type="password" name="password"><br/>
			<input type="submit"><br/>
		</form>
	</body>
</html>